<h1>the nagafa page</h1>

<a href="/nagafa/new">add a post</a>
<a href="/register/pro">pro register</a>
<a href="/register">register</a>
<a href="/login">login</a>
<a href="/logout">logout</a>


<% tkchita.forEach(function(tkchita){ %>
<div>
<img src="<%= tkchita.image%>" >
    <p><%=tkchita.descrition%></p>
    <p><%=tkchita.price%></p>


</div>
<% }); %>