<h1>new post</h1>

<form action="/nagafa" method="post">
    <input type="text" name="tkchita[description]" placeholder="description">

    <input type="text" name="tkchita[image]" placeholder="image url">
    <input type="price" name="tkchita[price]" placeholder="price">
    <button>more info</button>



</form>