<h1>new post</h1>

<form action="/nagafa" method="post">
    <input type="text" name="description" placeholder="description">

    <input type="text" name="image" placeholder="image url">
    <input type="price" name="price" placeholder="price">
    <button>submit</button>



</form>